@charset "UTF-8";


body{
    margin: 0;
    display: grid;
    height: 100vh;
}

.container{
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: 20% 1fr 10% ;

    grid-template-areas: 
    'azul azul azul'
    'roxo goiaba goiaba'
    'verde verde verde'
    ;
}


header{
    background-color: aqua;
    grid-column: 1/4;

    grid-area: azul;
}

main{
    background-color: blueviolet;
    
    grid-area: roxo;
}

aside{
    background-color: palevioletred;
    grid-column: 2/4;

    grid-area: goiaba;
}

footer{
    background-color: chartreuse;
    grid-column: 1/4;

    grid-area: verde;
}