@charset "UTF-8";

/* PALETA DE CORES
Verde 1: #01261C
Verde 2: #025939
Verde 3: #02733E
Verde 4: #B7D996
Verde 5: #DAF2C2
*/

*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html{
    background-color: #01261c;
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;

    background-color: white;
    width: 250px;
    height: 510px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0x 10px rgba(0, 0, 0, 0.451);

    transform: translate(-50%, -50%);
    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}

section#login > div#imagem{
    display: block;
    background: #025939 url(../imagens/pattern.jpg);
    background-size: cover;
    background-position: center;
    height: 200px;
}

section#login > div#formulario{
    display: block;
    padding: 10px;
}

div#formulario > h1{
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p{
    font-size: 0.8em;
}

form > div.campo{
    background-color: #02733E;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
}

div.campo > label{
    display: none;
}

div.campo > span{
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo > input{
    background-color: #DAF2C2;
    font-size: 1em;
    width: calc(100% - 45px);
    height: 100%;
    border: 0px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 4px;
    transform: translateY(-10px);
}

div.campo > input:focus-within{
    background-color: white;
}

form > input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #B7D996;
    color: black;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

form > input[type=submit]:hover{
    background-color: #02733E;
    color: white;
}

form > a.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 8px;
    margin-top: 5px;
    background-color: white;
    color: black;
    border: 1px solid #02733E;
    border-radius: 8px;
    text-decoration: none;
}

form > a.botao:hover{
    background-color: #02733E;
    color: white;
}