@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Sriracha&display=swap');

@font-face {
    font-family: cordel1;
    src: url(fontes/Cordel\ Encarnado.otf) format('opentype');
}

@font-face {
    font-family: xilosa;
    src: url(fontes/xilosa_.ttf) format('truetype');
}

:root{
    --cor01: #FFFAEE;
    --cor02: #CCC8BE;
    --cor03: #807D77;
    --cor04: #807150;
    --cor05: #FFE3A1;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-cordel: 'cordel1', Arial;
    --fonte-texto: 'sriracha', Arial;
    --fonte-titulo: 'xilosa', Arial;
}

*{
    margin: 0px;
    pad: 0px;
}

body{
    background-color: var(--cor01);
}

main{
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    background-color: var(--cor05);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.418);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

header{
    background-color: var(--cor04);
    height: 100%;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

header > h1{
    color: black;
    font-family: var(--fonte-titulo);
    font-size: 3em;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.267);
}

header > p{
    color: black;
    font-size: 1.2em;
    font-family: var(--fonte-titulo);
}

header > p > a{
    text-decoration: underline;
    color: black;
    font-family: var(--fonte-titulo);
}

header > p > a:hover{
    background-color: var(--cor02);
    border-radius: 3px;
    transition-duration: 0.2s;

}

nav{
    background-color: var(--cor04);
    height: 100%;
    width: 100%;
    padding: 10px;
    font-family: var(--fonte-titulo);
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.192);
    margin-bottom: 30px;
}

nav > a{
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 1.2em;
}

nav > a:hover{
    background-color: var(--cor02);
    color: black;
    padding: 3px;
    border-radius: 3px;
    transition-duration: 0.3s;
}

.sparallax{
    font-family: var(--fonte-texto);
    color: black;
    margin-left: 20px;
}

#parallax1{
    background-image: url(imagens/background003.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 5px;
}

#parallax1 > p{
    font-family: var(--fonte-texto);
    color: white;
    background-color: rgba(0, 0, 0, 0.627);
    border-radius: 5px;
    height: 240px;
    width: 185px;
    padding: 10px;
    padding-top: 20px;
    margin-left: 20px;
}

#parallax2 > p{
    font-family: var(--fonte-texto);
    color: white;
    background-color: rgba(0, 0, 0, 0.627);
    border-radius: 5px;
    height: 480px;
    width: 185px;
    padding: 10px;
    padding-top: 20px;
    margin-left: 20px;
}

#parallax2{
    background-image: url(imagens/background006.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100%;
    padding-top: 30px;
    padding-bottom: 10px;
    border-radius: 5px;
}

#video{
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.418);
}

#video > h1{
    font-family: var(--fonte-titulo);
    font-size: 3em;
    text-align: center;
    color: black;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.267);
}

div#yt{
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 56.5%;
    position: relative;
}

hr{
    color: rgba(0, 0, 0, 0.536);
    border-width: 1px;
    border-style: solid;
}
div#yt > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

#audio-container{
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    background-color: var(--cor05);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.418);
}

#audio-container > h1{
    font-family: var(--fonte-titulo);
    font-size: 3em;
    text-align: center;
    color: black;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.267);
}

#audio{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#contatos{
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.418);
    font-family: var(--fonte-titulo);
    font-size: 2em;
    text-align: center;
    color: black;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.267);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


#contatos > a > img{
    height: 48px;
    width: 48px;
    padding: 20px;
}

#contatos > a > img:hover{
    height: 38px;
    width: 38px;
    padding: 20px;
    box-shadow: 0px 0px 5px var(--cor04);
    border-radius: 100%;
    transition-duration: 0.3s;
}

#seta{
    text-align: right;
    height: 20px;
    padding: 15px;
    margin-bottom: 20px;
}

#seta > a > img{
    height: 48px;
    width: 48px;
}

#seta > a >img:hover{
    height: 40px;
    width: 40px;
    margin: 1px;
    box-shadow: 0px 0px 5px var(--cor04);
    border-radius: 100%;
    transition-duration: 0.3s; 
}

footer{
    background-color: var(--cor04);
    padding: 10px;
}

footer > p{
    font-family: var(--fonte-titulo);
    color: white;
    text-align: center;
}

footer > p > a{
    color: white;
    text-decoration: underline;
    padding: 1px;
}

footer > p > a:hover{
    background-color: var(--cor02);
    color: black;
    padding: 2px;
    border-radius: 2px;
    transition-duration: 0.3s;
}
